.about-page, #about-parags{
  background-color:rgb(243, 239, 239);
}

#about-parags-main{
  margin-left: 27%;
  margin-top: 1%; 
  color:rgb(115, 108, 108);
}
#about-parags-main-in{
  margin-left: 24%;
  
}
#about-parags-head{
  color: var(--dark-color);
  font-weight: bold;
  margin-left: 15%;
  margin-top: 1%; 

}
#about-parags{
  margin-left: 15%;
  margin-top: 1%; 
  color:rgb(115, 108, 108);
}
#about-heading{
  color: var(--dark-color);
  margin-left: 30%;
  margin-top: 5%;
}
#zero-all{
  background-color: var(--secondary-color);
  margin-left: 15%;
  margin-top: 2%;
  width: 3%;
  border-radius: 15px 15px;
  color: var(--light-color);
}
#about-hotel-img{
  height: 380px;
  width: 25%;
  margin-left: 65%;
  margin-top: -50% ;
  border-radius: 10%;
  
}