:root {
	--primary-color: #1c2534;
	--secondary-color: #f76926;
	--light-color: #ffffff;
	--dark-color: #202020;
	--trasparent-color: #fccebc;
	--grey-color: #b4bbc8;
}

button {
	background: #f76926;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 6px;
	color: #ffffff;
	border-radius: 10px;
}

#room-container {
	display: grid;
	width: 100%;
	grid-template-columns: auto auto auto auto;
	/* background-color: BLUE; */
}
.rooms {
	background-color: #ffffff !important;
	/* height: 100vh !important; */
}

img {
	border-radius: 5px;
	width: 95%;
	height: 70%;
}
h5,
h1,
p,
h2 .par {
	color: #202020 !important;
}

.p {
	padding: 17px;
}

h1,
.p {
	text-align: center;
}

/* button:hover {
	padding-right: 30px;
	background: var(--primary-color);
} */

.room {
	background-color: var(--light-color);
	border-radius: 5px;
	padding: 5px;
	margin: 9px;
	width: 300px;
}

.room:hover {
	transform: scale(1.2);
}
